[submodule "unifile"]
	path = unifile
	url = https://github.com/seven332/UniFile
[submodule "vectorold"]
	path = vectorold
	url = https://github.com/seven332/VectorOld
[submodule "hotspot"]
	path = hotspot
	url = https://github.com/seven332/Hotspot
[submodule "rippleold"]
	path = rippleold
	url = https://github.com/seven332/RippleOld
[submodule "beerbelly"]
	path = beerbelly
	url = https://github.com/seven332/BeerBelly
[submodule "conaco"]
	path = conaco
	url = https://github.com/seven332/Conaco
[submodule "cardsalon"]
	path = cardsalon
	url = https://github.com/seven332/CardSalon
