<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hippo.ehviewer"
    android:versionCode="6"
    android:versionName="0.3.0" >
    
    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />
    
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    
    <application
        android:name="com.hippo.ehviewer.CrashApplication"
        android:allowBackup="true"
        android:largeHeap="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <activity
            android:name="com.hippo.ehviewer.StartActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar.Fullscreen"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.hippo.ehviewer.activity.MangaListActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        
        <activity
            android:name="com.hippo.ehviewer.activity.MangaDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|adjustUnspecified|stateHidden"
            android:configChanges="orientation|screenSize" >
        </activity>
        
        <activity
            android:name="com.hippo.ehviewer.activity.MangaActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize" >
        </activity>
        
        <activity
            android:name="com.hippo.ehviewer.activity.SettingsActivity"
            android:label="@string/preference_settings_title"
            android:icon="@drawable/ic_action_settings"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize" >
        </activity>
        
        <activity
            android:name="com.hippo.ehviewer.activity.FavouriteActivity"
            android:label="@string/favourite"
            android:icon="@drawable/ic_action_favourite"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize" >
        </activity>
        
        <activity
            android:name="com.hippo.ehviewer.activity.DownloadActivity"
            android:label="@string/download"
            android:icon="@drawable/ic_action_download"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTask" >
        </activity>
        
        <activity
            android:name="com.hippo.ehviewer.activity.MangaDownloadActivity"
            android:label="@string/download"
            android:icon="@drawable/ic_action_download"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize" >
        </activity>
        
        <service 
            android:name="com.hippo.ehviewer.service.DownloadService"
            android:label="DownloadService" />
        
    </application>

</manifest>
