<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hippo.ehviewer"
    android:versionCode="15"
    android:versionName="0.4.5" >
    
    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />
    
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.NFC" />
    
    <application
        android:name=".AppContext"
        android:allowBackup="true"
        android:largeHeap="false"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <activity
            android:name=".StartActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar.Transparent"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".activity.MangaListActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme.Main.ListActivity.PullList"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        
        <activity
            android:name=".activity.MangaDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|adjustUnspecified|stateHidden"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTask" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http" />
                <data android:host="exhentai.org" />
                <data android:host="g.e-hentai.org" />
                <data android:host="lofi.e-hentai.org" />
                <data android:pathPrefix="/g/" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".activity.MangaActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize" >
        </activity>
        
        <activity
            android:name=".activity.SettingsActivity"
            android:label="@string/preference_settings_title"
            android:icon="@drawable/ic_action_settings"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize" >
        </activity>
        
        <activity
            android:name=".activity.FavouriteActivity"
            android:label="@string/favourite"
            android:icon="@drawable/ic_action_favorite"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme.ListActivity" >
        </activity>
        
        <activity
            android:name=".activity.DownloadActivity"
            android:label="@string/download"
            android:icon="@drawable/ic_action_download"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTask"
            android:parentActivityName="com.hippo.ehviewer.activity.MangaListActivity"
            android:theme="@style/AppTheme.ListActivity" >
            
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.hippo.ehviewer.activity.MangaListActivity" />
        </activity>
        
        <activity
            android:name=".activity.MangaDownloadActivity"
            android:label="@string/download"
            android:icon="@drawable/ic_action_download"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize" >
        </activity>
        
        <service 
            android:name=".service.DownloadService"
            android:label="DownloadService" />
        
    </application>

</manifest>
