<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright (C) 2015 Hippo Seven
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~      http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hippo.ehviewer">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <uses-feature android:glEsVersion="0x00020000" android:required="true"/>

    <application
        android:name="com.hippo.ehviewer.EhApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.hippo.ehviewer.ui.ContentActivity"
            android:configChanges="screenSize|uiMode"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.Content"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:launchMode="singleTask">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>

        <activity
            android:name="com.hippo.ehviewer.ui.GalleryActivity"
            android:configChanges="screenSize|uiMode"
            android:theme="@style/AppTheme.Gallery"
            android:windowSoftInputMode="stateAlwaysHidden">

        </activity>

        <service
            android:name="com.hippo.ehviewer.service.DownloadService"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/download_server"/>

    </application>

</manifest>
